@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700&display=swap);
@import url(https://use.fontawesome.com/releases/v5.14.0/css/all.css);
/* @import "./style/button.css"; */

body {
  font-family: "Roboto";
}

.text-primary {
  @apply text-neon-green;
}

.text-secondary {
  @apply text-light-gray;
}

.header_desktop {
  &_title {
    @apply text-sm text-gray-400;
  }
}

.right-sidebar {
  @apply fixed right-10 bottom-5 left-auto;

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    @apply bg-gray-300;
  }
}

a {
  @apply transition ease-in-out duration-500 text-light-gray hover:text-neon-green;
  font-family: "Roboto Mono", monospace;
}

.font-roboto-mono {
  font-family: "Roboto Mono", monospace;
}

.left-sidebar {
  a {
    @apply text-xs tracking-widest mb-3;
    writing-mode: vertical-lr;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 3px auto;
    @apply bg-gray-300;
  }
}

.wrapper {
  @apply mx-auto max-w-[1920px];
}

.gk-container {
  @apply mx-[8vw] md:mx-[10vw] lg:mx-[20vw];
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
